body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

#game-container {
  text-align: center;
}

.mole {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.217);
}
.mole:hover {
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.405);
  width: 105px;
  height: 105px;
}
#score {
  font-size: 80px;
  font-weight: 1000;
}